.lSearch {
    display: flex;
    padding: 10px 0;
    align-items: center;
    justify-content: space-between;
  }
  .lSearch__icon {
    width: 18px;
    height: 18px;
    opacity: 0.5;
    margin: 0 20px;
    background-size: 18px 18px;
  }
  .lSearch__input {
    height: 40px;
    border: none;
    outline: none;
    color: white;
    font-size: 1em;
    width: calc(100% - 116px);
    background-color: var(--dark-one);
  }
  
  .lSearch__input::placeholder {
    color: #a5a5a5;
  }