.nav {
  display: flex;
  position: relative;
  justify-content: space-evenly;
  background-color: var(--dark-two);
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.2);
}
.nav__link {
  display: flex;
  padding: 16px 0;
  align-items: center;
  width: calc(100% / 5);
  justify-content: center;
}
.nav__link [data-img] {
  width: 23px;
  height: 23px;
  opacity: 0.4;
  background-size: 23px 23px;
}
.nav__link [data-imgname='menu'] {
  opacity: 0.8;
}
.nav__link--active {
  border-bottom: 2px solid var(--green);
}
.nav__link--active [data-img] {
  opacity: 1;
}
