.playList {
  padding: 15px 0;
}
.playList ul,
li {
  all: unset;
}
.playList [data-img] {
  margin: 0 25px;
}
.playList ul li {
  display: flex;
  margin: 35px 0;
  font-size: 1.1em;
  align-items: center;
}
.playList ul a  {
  all: unset;
}
.playList__cat ul li:first-of-type {
  margin-top: 0;
}
.playList__user__title {
  font-weight: 500;
  color: var(--green);
  margin: 35px 0 0 20px;
}
.playList__user__create {
  display: flex;
  margin-top: 20px;
  font-weight: 500;
  align-items: center;
}
.playList__user ul li:last-of-type {
  margin-bottom: 40px;
}
.playList__user__create [data-img] {
  width: 17px;
  height: 17px;
  margin: 0 15px 0 25px;
  background-size: 17px 17px;
}
