.vLanding__songs__list__item {
  width: 100%;
  display: flex;
  margin: 20px 0;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
}
.vLanding__songs__list__item a {
  all: unset;
  display: flex;
  align-items: center;
  width: calc(100% - 35px);
}
.vLanding__songs__list__item__img {
  width: 45px;
  height: 45px;
  background-size: cover;
  background-color: var(--dark-two);
}
.vLanding__songs__list__item__text {
  margin: 0 15px;
  width: calc(100% - 108px);
}
.vLanding__songs__list__item__duration {
  font-size: 13px;
}
.vLanding__songs__list__item__text__song {
  width: 90%;
  font-size: 1.1em;
  margin-bottom: 5px;
  text-transform: capitalize;
}
.vLanding__songs__list__item__text__artist {
  width: 90%;
  font-size: 0.8em;
  text-transform: capitalize;
}
.vLanding__songs__list__item__option {
  width: 35px;
  background-position: center;
  height: 35px;
  cursor: pointer;
  background-size: 24px 24px;
}
