.vLanding__nav {
  display: flex;
  padding: 15px 0;
  align-items: center;
  justify-content: space-between;
  background-color: var(--dark-two);
}
.vLanding__nav__icon {
  width: 18px;
  height: 18px;
  opacity: 0.5;
  margin: 0 20px;
  background-size: 18px 18px;
}
.vLanding__nav__icon:first-of-type {
  opacity: 1;
}
.vLanding__nav__text {
  font-size: 1.5em;
  font-weight: bold;
  width: calc(100% - 116px);
  text-transform: capitalize;
}

.vLanding__songs__list {
  padding: 0 10px;
}

.vLanding__songs__control {
  display: flex;
  padding: 15px 0;
  justify-content: flex-end;
}
.vLanding__songs__control [data-img] {
  margin: 0 15px;
}

.vLanding .lazyload-custom-placeholder {
  width: 100%;
  height: 45px;
  display: block;
  margin: 20px 0;
  color: transparent;
  background-color: var(--dark-two);
}

