.truncate {
  overflow: hidden !important;
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
}
.hide {
  display: none !important;
}
@media (min-width: 800px) {
  div.App__main {
    margin: 0 auto;
    max-width: 700px;
  }
  div.nowPlaying__albumArt__temp {
    height: 450px;
    width: 500px;
  }
  div.error__card,
  div.modal__card {
    width: 320px;
  }
  div.sLanding {
    left: 50%;
    width: 710px;
    transform: translateX(-50%);
  }
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--dark-three);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

[data-img] {
  width: 24px;
  height: 24px;
  cursor: pointer;
  background-size: 24px 24px;
  background-repeat: no-repeat;

  user-select: none !important;
  -ms-user-select: none !important;
  -moz-user-select: none !important;
  -khtml-user-select: none !important;
  -webkit-user-select: none !important;
  -webkit-touch-callout: none !important;
  -webkit-tap-highlight-color: transparent !important;
}

[data-imgname='queue'] {
  background-image: url(/image/icon/queue.svg);
}
[data-imgname='play_circle'] {
  background-image: url(/image/icon/play_circle.svg);
}
[data-imgname='artist'] {
  background-image: url(/image/icon/artist.svg);
}
[data-imgname='folder'] {
  background-image: url(/image/icon/folder.svg);
}
[data-imgname='album'] {
  background-image: url(/image/icon/album.svg);
}
[data-imgname='playlist'] {
  background-image: url(/image/icon/playlist.svg);
}
[data-imgname='tag'] {
  background-image: url(/image/icon/tag.svg);
}
[data-imgname='menu'] {
  background-image: url(/image/icon/menu.svg);
}
[data-imgname='play'] {
  background-image: url(/image/icon/play.svg);
}
[data-imgname='next'] {
  background-image: url(/image/icon/next.svg);
}
[data-imgname='previous'] {
  transform: rotate(180deg);
  background-image: url(/image/icon/next.svg);
}
[data-imgname='pause'] {
  background-image: url(/image/icon/pause.svg);
}
[data-imgname='repeat'] {
  width: 27px;
  height: 27px;
  background-size: 27px 27px;
  background-image: url(/image/icon/repeat.svg);
}
[data-imgname='no_repeat'] {
  width: 27px;
  height: 27px;
  background-size: 27px 27px;
  background-image: url(/image/icon/no_repeat.svg);
}
[data-imgname='volume'] {
  background-image: url(/image/icon/volume.svg);
}
[data-imgname='mute'] {
  background-image: url(/image/icon/mute.svg);
}
[data-imgname='like'] {
  background-image: url(/image/icon/like.svg);
}
[data-imgname='like_fill'] {
  background-image: url(/image/icon/like_fill.svg);
}
[data-imgname='info'] {
  background-image: url(/image/icon/info.svg);
}
[data-imgname='menu_horizontal'] {
  width: 16px;
  height: 16px;
  padding: 4px;
  border-radius: 7px;
  transform: rotate(90deg);
  background-color: white;
  background-size: 16px 16px;
  background-position: 50%, 50%;
  background-image: url(/image/icon/menu_fill.svg);
}
[data-imgname='all_songs'] {
  background-image: url(/image/icon/all_songs.svg);
}
[data-imgname='clock'] {
  background-image: url(/image/icon/clock.svg);
}
[data-imgname='fire'] {
  background-image: url(/image/icon/fire.svg);
}
[data-imgname='cancel'] {
  background-image: url(/image/icon/cancel.svg);
}
[data-imgname='list'] {
  background-image: url(/image/icon/list.svg);
}
[data-imgname='plus'] {
  background-image: url(/image/icon/plus.svg);
}
[data-imgname='search'] {
  background-image: url(/image/icon/search.svg);
}
[data-imgname='sort'] {
  background-image: url(/image/icon/sort.svg);
}
[data-imgname='arrow_left'] {
  background-image: url(/image/icon/arrow_left.svg);
}
[data-imgname='settings'] {
  background-image: url(/image/icon/settings.svg);
}
[data-imgname='caret_down'] {
  background-image: url(/image/icon/caret_down.svg);
}
[data-imgname='alert'] {
  background-image: url(/image/icon/alert.svg);
}
[data-imgname='remove'] {
  background-image: url(/image/icon/remove.svg);
}
[data-imgname='add_playlist'] {
  background-image: url(/image/icon/add_playlist.svg);
}
[data-imgname='share'] {
  background-image: url(/image/icon/share.svg);
}
[data-imgname='laptop'] {
  background-image: url(/image/icon/laptop.svg);
}
[data-imgname='mobile'] {
  background-image: url(/image/icon/mobile.svg);
}
[data-imgname='watch'] {
  background-image: url(/image/icon/watch.svg);
}
[data-imgname='speakers'] {
  background-image: url(/image/icon/speakers.svg);
}
[data-imgname='voice'] {
  background-image: url(/image/icon/voice.svg);
}
[data-imgname='tv'] {
  background-image: url(/image/icon/tv.svg);
}
[data-imgname='car'] {
  background-image: url(/image/icon/car.svg);
}
[data-imgname='close'] {
  background-image: url(/image/icon/close.svg);
}
[data-imgname='save'] {
  background-image: url(/image/icon/save.svg);
}
[data-imgname='edit'] {
  background-image: url(/image/icon/edit.svg);
}
[data-imgname='loading'] {
  background-image: url(/image/icon/loading.svg);
}
